@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
    font-family: "Azeret Mono", monospace;
}
/* bonus task */
.bonus{
    display: flex;
    font-size: 20px;
    padding-left: 200px;
    gap: 300px;
}
.heading{
    font-weight: 1800px;
    font-size: 30px;
    padding: 20px;
    width: 500px;
}
.bonus-btn{
    background-color: white;
    padding: 12px;
    font-size: 13px;
    border-radius: 8px;
}
/* banner sections starts from here */
.banner-container{
    background-image: url(../B10A1-Challenge-Begins/assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 10px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    padding: 120px;
    text-align: center;
}
.banner-content h1,h6,button{
    margin: 20px;
}
.banner-content h6{
    color:rgb(83, 85, 91);
}
.btn1{
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 8px;
}

/* main section starts from here */
.description-2{
    text-align: center;
    margin: 80px;
}
.details{
    margin-top: 20px;
    font-size: 12px;
    color: rgb(80, 82, 82);
}
.utube{
    margin-top: 25px;
    padding: 30px;
    border: 2px solid rgb(181, 180, 180);
    border-radius: 5px;
}
/* footer sections starts from here */
.footer-section1{
    background-image: url(../B10A1-Challenge-Begins/assets/handshake.jpg);
    opacity: 0.9;
    width: 100%;
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 120px;
    text-align: center;
    padding: 120px;
}
.footer-section1 h6{
    color: rgb(186, 178, 178);
}
.footer-form{
    border-radius: 18px;
    width:630px;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 24px;  
}
.submit{
    padding: 10px 20px;;
    border-radius: 8px;
    font-size: 20px;
}
.footer-section-end{
    font-size: 14px;
    border-radius: 6px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    /* margin-top: 400px; */
    gap: 600px;
    padding: 25px;
    width: 1342px;
    height: 80px;
}