@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
    font-family: "Azeret Mono", monospace;
}
/* bonus task */
.bonus{
    display: flex;
    font-size: 20px;
    padding-left: 200px;
    gap: 300px;
}
.heading{
    font-weight: 1800px;
    font-size: 30px;
    padding: 20px;
    width: 500px;
}
.bonus-btn{
    background-color: white;
    padding: 12px;
    margin-top: 12px;
    font-size: 13px;
    border-radius: 8px;
}
.little-description{
    margin-top: 20px;
    font-size: 12px;
    color: rgb(80, 82, 82);
}
/* banner sections starts from here */

.banner-container{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    padding: 120px;
    text-align: center;
}
.banner-content h1,h6{
    margin: 20px;
}
.banner-content h6{
    color:rgb(83, 85, 91);
}
.btn1{
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

/* main section 1st starts from here */

.section-1{
    padding: 30px;
    margin: 120px;
    color: rgba(13, 19, 33, 0.7);
    background-color: rgba(13, 19, 33, 0.02);
}
.section-1-main-banner{
    text-align: center;
}
.layer-1{
    margin: 30px;
    padding: 20px;
    gap: 160px;
    display: flex;
}
.layer-1-description{
    margin: 30px;
    text-align: left;
}
.btn{
    padding: 12px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 100;
}
/* main section 2nd starts from here */

.description-2{
    text-align: center;
    margin: 120px;
}

.utube{
    margin-top: 25px;
    padding: 20px;
    border: 2px solid rgb(181, 180, 180);
    border-radius: 5px;
}
/* main section 3rd starts from here */

.description-3{
    padding: 20px;
    text-align: center;
    margin: 80px;
}
.languages{
    gap: 20px;
    padding: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto;
}
.language-title{
    margin: 10px;
}
.language-details{
    padding: 10px;
}
.html{
    padding: 20px;
    background-color:rgba(255, 76, 30, 0.05);
}
.css{
    padding: 20px;
    background-color: rgba(0, 76, 232, 0.05);
}
.js{
    padding: 20px;
    background-color: rgba(255, 223, 0, 0.05);
}
.learn{
    padding: 10px;
}
/* practice part */
.practice{
    padding: 30px;
    margin: 120px;
    gap: 20px;
    /* color: rgba(13, 19, 33, 0.7); */
}
.practice-head{
    text-align: center;
}
.practice-layer{
    margin: 30px;
    padding: 20px;
    display: flex;
    border: 2px solid rgb(181, 181, 181);
    border-radius: 14px;
}
.language-img{
    align-items: center;
    padding: 20px;
}
.learn-more{
    margin-top: 10px;
}
/* footer sections starts from here */

.footer-section1{
    background-image: url(../assets/handshake.jpg);
    opacity: 0.9;
    width: 100%;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    text-align: center;
    padding: 120px;
}
.footer-section1 h6{
    color: rgb(186, 178, 178);
}
.footer-form{
    border-radius: 18px;
    width:630px;
    border-radius: 8px;
    padding: 10px 20px;
}
.submit{
    padding: 10px 20px;;
    border-radius: 8px;
    font-size: 20px;
}
.footer-section-end{
    font-size: 12px;
    border-radius: 6px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    gap: 600px;
    padding: 80px;
    width: 1342px;
    height: 80px;
    margin-top: 40px;
}